
{% extends "layout/main.html"%}

{% block title %} Home {% endblock %}

{% block body %}
    {% if request.user.is_authenticated %}
        <h1>Welcome {{ request.user }}</h1>
    {%endif%}
    <h2 class="mt-3" >Books</h2>
    {% for book in books%}
        <h3>{{  book.title }}</h3>
        <p>{{ book.description }}</p>
        <a href={% url "edit" book.id%} class="btn btn-outline-info">Edit Book</a>
        <!-- <a href={% url "delete" book.id%} class="btn btn-outline-danger">Delete Book</a> -->
        <a onclick="clickFunction('{{ book.title  }}','{{ book.id  }}')" value="{{ book.title  }}" class="btn btn-outline-danger">Delete Book</a>
        <hr>
    {%endfor%}
{% endblock %}

{% block script %}
<script>


function clickFunction(name,id){
  swal({
  title: `Are you sure you want to delete ${name}?`,
  text: "Once deleted, you will not be able to recover this imaginary file!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
      window.location.href = `delete/${id}`
    swal("Poof! Your imaginary file has been deleted!", {
      icon: "success",
    });
  } else {
    swal("Your imaginary file is safe!");
  }
});
}



    
</script>

{% endblock %}