
{% extends "layout/main.html"%}

{% block title %} Home {% endblock %}

{% block body %}
    <h1 class="mt-3" >Books</h1>
    {% for book in books%}
        <h3>{{  book.title }}</h3>
        <p>{{ book.description }}</p>
        <a href={% url "edit" book.id%} class="btn btn-outline-info">Edit Book</a>
        <!-- <a href={% url "delete" book.id%} class="btn btn-outline-danger">Delete Book</a> -->
        <a onclick="clickFunction('{{ book.title  }}','{{ book.id  }}')" value="{{ book.title  }}" class="btn btn-outline-danger">Delete Book</a>
        <hr>
    {%endfor%}
{% endblock %}

{% block script %}
<script>
    function clickFunction(name,id){
       const res = confirm(`Do you want to delete ${name}?`)
        if(res){
            window.location.href = `delete/${id}`;
        }
        
    }

    
</script>
{% endblock %}